
@{
    ViewData["Title"] = "List Country";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data
@model DataTable
<h3>Country List</h3>

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <a class="navbar-brand">Country Search</a>

                        <form class="d-flex w-75" role="search" asp-area="LOC_Country" asp-controller="Country" asp-action="CountryList">
                            <input class="form-control me-2 " type="text" placeholder="Country Name" aria-label="Search" name="CountryName">
                            <input class="form-control me-2" type="text" placeholder="Country Code" aria-label="Search" name="CountryCode">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                            <a class=" btn btn-primary col-md-3" asp-area="LOC_Country" asp-controller="Country" asp-action="AddCountry">Add Country</a>

                        </form>
                    </div>

<!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">CountryID</th>
                                <th scope="col">CountryName</th>
                                <th scope="col">CountryCode</th>
                                <th scope="col">Add Date</th>
                                <th scope="col">Modifi Date</th>
                              @*   <th scope="col">StateCount</th>

                                <th scope="col">CityCount</th>
                               *@  <th scope="col">Delete</th>
                                <th scope="col">Edit</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                <tr>
                                    <td>@dr["CountryID"]</td>
                                    <td>@dr["CountryName"]</td>
                                    <td>@dr["Countrycode"]</td>
                                    <td>@Convert.ToDateTime(dr["Created"])</td>
                                    <td>@Convert.ToDateTime(dr["Modified"])</td>
                                  @*   <td>@dr["StateCount"]</td>
                                    <td>@dr["CityCount"]</td>
                                   *@  <td>
                                        <form method="post" asp-area="LOC_Country" asp-controller="Country" asp-action="DeleteCountry">
                                            <input type="hidden" name="CountryID" value="@Convert.ToInt32(dr["CountryID"])" />
                                            <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="post" asp-area="LOC_Country" asp-controller="Country" asp-action="AddCountry">
                                            <input type="hidden" name="CountryID" value="@Convert.ToInt32(dr["CountryID"])" />
                                            <button type="submit" class="btn btn-outline-warning btn-sm">Edit</button>
                                        </form>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>

